<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>slides</key>
	<array>
		<dict>
			<key>ipad_image_portrait</key>
			<string>https://github.com/t0rn/PublisherDemoFiles/blob/master/images/slide1-ipad-portrait@2x.png?raw=true</string>
			<key>ipad_image_landscape</key>
			<string>https://github.com/t0rn/PublisherDemoFiles/blob/master/images/slide1-ipad-landscape@2x.png?raw=true</string>
			<key>iphone_image</key>
			<string>https://github.com/t0rn/PublisherDemoFiles/blob/master/images/slide1-iphone@2x.png?raw=true</string>
			<key>action</key>
			<dict>
				<key>actionIdentifier</key>
				<string>toWebBrowser</string>
				<key>actionParameter</key>
				<string>https://itunes.apple.com/ru/app/probmxmag/id709195924?mt=8</string>
			</dict>
		</dict>
		<dict>
			<key>ipad_image_portrait</key>
			<string>https://github.com/t0rn/PublisherDemoFiles/blob/master/images/slide3-ipad-portrait@2x.png?raw=true</string>
			<key>ipad_image_landscape</key>
			<string>https://github.com/t0rn/PublisherDemoFiles/blob/master/images/slide3-ipad-landscape@2x.png?raw=true</string>
			<key>iphone_image</key>
			<string>https://github.com/t0rn/PublisherDemoFiles/blob/master/images/slide3-iphone@2x.png?raw=true</string>
			<key>action</key>
			<dict>
				<key>actionIdentifier</key>
				<string>toWebBrowser</string>
				<key>actionParameter</key>
				<string>http://codecanyon.net/item/newsstandtemplate-v20-with-inapp-purchases/8046271?WT.ac=portfolio&amp;WT.z_author=t0rn</string>
			</dict>
		</dict>
	</array>
	<key>App_Title</key>
	<string>PDFMagazineTemplate</string>
	<key>publications</key>
    <array>
      <dict>
        <key>productId</key>
        <string>9C82423D-F509-508B-FF99-493699752000</string>
        <key>date</key>
        <date>1502744400000</date>
        <key>title</key>
        <string>Sayı: 12</string>
        <key>description</key>
        <string>https://app.erphaber.com.tr</string>
        <key>coverURL</key>
        <string>https://app.erphaber.com.tr/publications/9C82423D-F509-508B-FF99-493699752000/jpgs/1.jpg</string>
        <key>fileURL</key>
        <string>https://app.erphaber.com.tr/PDF/9C82423D-F509-508B-FF99-493699752000.pdf</string>
      </dict>
      <dict>
        <key>productId</key>
        <string>F6EA2F7D-A3F2-A6A5-FFAD-3704590FFA00</string>
        <key>date</key>
        <date>1496264400000</date>
        <key>title</key>
        <string>Sayı: 11</string>
        <key>description</key>
        <string>https://app.erphaber.com.tr</string>
        <key>coverURL</key>
        <string>https://app.erphaber.com.tr/publications/F6EA2F7D-A3F2-A6A5-FFAD-3704590FFA00/jpgs/1.jpg</string>
        <key>fileURL</key>
        <string>https://app.erphaber.com.tr/PDF/F6EA2F7D-A3F2-A6A5-FFAD-3704590FFA00.pdf</string>
      </dict>
      <dict>
        <key>productId</key>
        <string>DAFFDCB3-BC02-1F98-FF31-9709933F8A00</string>
        <key>date</key>
        <date>1493586000000</date>
        <key>title</key>
        <string>Sayı: 10</string>
        <key>description</key>
        <string>https://app.erphaber.com.tr</string>
        <key>coverURL</key>
        <string>https://app.erphaber.com.tr/publications/DAFFDCB3-BC02-1F98-FF31-9709933F8A00/jpgs/1.jpg</string>
        <key>fileURL</key>
        <string>https://app.erphaber.com.tr/PDF/DAFFDCB3-BC02-1F98-FF31-9709933F8A00.pdf</string>
      </dict>
      <dict>
        <key>productId</key>
        <string>ADE735BD-2546-751A-FF24-9173CD6D5C00</string>
        <key>date</key>
        <date>1490994000000</date>
        <key>title</key>
        <string>Sayı: 09</string>
        <key>description</key>
        <string>https://app.erphaber.com.tr</string>
        <key>coverURL</key>
        <string>https://app.erphaber.com.tr/publications/ADE735BD-2546-751A-FF24-9173CD6D5C00/jpgs/1.jpg</string>
        <key>fileURL</key>
        <string>https://app.erphaber.com.tr/PDF/ADE735BD-2546-751A-FF24-9173CD6D5C00.pdf</string>
      </dict>
      <dict>
        <key>productId</key>
        <string>62AFA0DC-F3D5-F0CF-FF9E-61F8E2901600</string>
        <key>date</key>
        <date>1488315600000</date>
        <key>title</key>
        <string>Sayı: 08</string>
        <key>description</key>
        <string>https://app.erphaber.com.tr</string>
        <key>coverURL</key>
        <string>https://app.erphaber.com.tr/publications/62AFA0DC-F3D5-F0CF-FF9E-61F8E2901600/jpgs/1.jpg</string>
        <key>fileURL</key>
        <string>https://app.erphaber.com.tr/PDF/62AFA0DC-F3D5-F0CF-FF9E-61F8E2901600.pdf</string>
      </dict>
      <dict>
        <key>productId</key>
        <string>C10B6774-2B1D-2674-FFEE-7B316D34DE00</string>
        <key>date</key>
        <date>1485896400000</date>
        <key>title</key>
        <string>Sayı: 07</string>
        <key>description</key>
        <string>https://app.erphaber.com.tr</string>
        <key>coverURL</key>
        <string>https://app.erphaber.com.tr/publications/C10B6774-2B1D-2674-FFEE-7B316D34DE00/jpgs/1.jpg</string>
        <key>fileURL</key>
        <string>https://app.erphaber.com.tr/PDF/C10B6774-2B1D-2674-FFEE-7B316D34DE00.pdf</string>
      </dict>
      <dict>
        <key>productId</key>
        <string>33B9A61E-1257-0D6F-FF90-8952F72E2D00</string>
        <key>date</key>
        <date>1483218000000</date>
        <key>title</key>
        <string>Sayı: 06</string>
        <key>description</key>
        <string>https://app.erphaber.com.tr</string>
        <key>coverURL</key>
        <string>https://app.erphaber.com.tr/publications/33B9A61E-1257-0D6F-FF90-8952F72E2D00/jpgs/1.jpg</string>
        <key>fileURL</key>
        <string>https://app.erphaber.com.tr/PDF/33B9A61E-1257-0D6F-FF90-8952F72E2D00.pdf</string>
      </dict>
      <dict>
        <key>productId</key>
        <string>FCEB725B-BF57-5C73-FF28-010EAE381300</string>
        <key>date</key>
        <date>1480539600000</date>
        <key>title</key>
        <string>Sayı: 05</string>
        <key>description</key>
        <string>https://app.erphaber.com.tr</string>
        <key>coverURL</key>
        <string>https://app.erphaber.com.tr/publications/FCEB725B-BF57-5C73-FF28-010EAE381300/jpgs/1.jpg</string>
        <key>fileURL</key>
        <string>https://app.erphaber.com.tr/PDF/FCEB725B-BF57-5C73-FF28-010EAE381300.pdf</string>
      </dict>
      <dict>
        <key>productId</key>
        <string>A6F14B33-2FFE-E544-FF5B-EFFDA46AF400</string>
        <key>date</key>
        <date>1477947600000</date>
        <key>title</key>
        <string>Sayı: 04</string>
        <key>description</key>
        <string>https://app.erphaber.com.tr</string>
        <key>coverURL</key>
        <string>https://app.erphaber.com.tr/publications/A6F14B33-2FFE-E544-FF5B-EFFDA46AF400/jpgs/1.jpg</string>
        <key>fileURL</key>
        <string>https://app.erphaber.com.tr/PDF/A6F14B33-2FFE-E544-FF5B-EFFDA46AF400.pdf</string>
      </dict>
      <dict>
        <key>productId</key>
        <string>96789AF4-9B31-4398-FF01-037D086BC800</string>
        <key>date</key>
        <date>1475269200000</date>
        <key>title</key>
        <string>Sayı: 03</string>
        <key>description</key>
        <string>https://app.erphaber.com.tr</string>
        <key>coverURL</key>
        <string>https://app.erphaber.com.tr/publications/96789AF4-9B31-4398-FF01-037D086BC800/jpgs/1.jpg</string>
        <key>fileURL</key>
        <string>https://app.erphaber.com.tr/PDF/96789AF4-9B31-4398-FF01-037D086BC800.pdf</string>
      </dict>
      <dict>
        <key>productId</key>
        <string>BB0A9730-3F7A-AFBE-FFDD-08BB8D5F2A00</string>
        <key>date</key>
        <date>1472677200000</date>
        <key>title</key>
        <string>Sayı: 02</string>
        <key>description</key>
        <string>https://app.erphaber.com.tr</string>
        <key>coverURL</key>
        <string>https://app.erphaber.com.tr/publications/BB0A9730-3F7A-AFBE-FFDD-08BB8D5F2A00/jpgs/1.jpg</string>
        <key>fileURL</key>
        <string>https://app.erphaber.com.tr/PDF/BB0A9730-3F7A-AFBE-FFDD-08BB8D5F2A00.pdf</string>
      </dict>
      <dict>
        <key>productId</key>
        <string>0A5A0B10-241D-DC31-FF7D-3DFD9E7E5700</string>
        <key>date</key>
        <date>1469998800000</date>
        <key>title</key>
        <string>Sayı: 01</string>
        <key>description</key>
        <string>https://app.erphaber.com.tr</string>
        <key>coverURL</key>
        <string>https://app.erphaber.com.tr/publications/0A5A0B10-241D-DC31-FF7D-3DFD9E7E5700/jpgs/1.jpg</string>
        <key>fileURL</key>
        <string>https://app.erphaber.com.tr/PDF/0A5A0B10-241D-DC31-FF7D-3DFD9E7E5700.pdf</string>
      </dict>
    </array>
  </dict>
</plist>
